{% extends "base.html" %}
                              <!--реєстрація зробив  та оформив ( Стас Мельник)-->
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<div class="register-page">
  <div class="register-card">
    <h1 class="page-title">Реєстрація</h1>
    <h2>Створення акаунту</h2>
    <form method="post">
      <div class="form-group">
        <label for="email">Ел. пошта:</label>
        <input type="email" id="email" name="email" placeholder="Введіть вашу пошту" required>
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" placeholder="Створіть пароль" required>
      </div>
      <button type="submit">Зареєструватись</button>
    </form>
    <p class="login-text">Вже маєте акаунт? <a href="{{ url_for('client.login') }}">Увійти</a></p>
  </div>
</div>

{% endblock %}

